<%= form_for item do |f| %>
    <table>
      <tr>
        <th width="150" ; align="left">name</th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th width="150" ; align="left">description</th>
        <td> <%= f.text_field :description %></td>
      </tr>
      <tr>
        <th width="150" ; align="left">weight</th>
        <td><%= f.text_field :weight %></td>
      </tr>
    </table>
    <p><%= f.submit "#{item.new_record? ? 'Создать' : 'Редактировать'}" %></p>
<% end %>


