<h2>Список</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th width="100" align="left"> Имя</th>
    <th width="150" align="left"> Описание</th>
    <th width="50" align="left"> Вес</th>
  </tr>
  </thead>
  <% @items.each do |i| %>
      <tbody>
      <tr>
        <th align="left"><%= i.name %></th>
        <th align="left"><%= i.description %></th>
        <th align="left"><%= i.weight %></th>
        <td><%= link_to 'Показать', item_path(i), class: 'btn btn-link' %></td>
        <td><%= link_to 'Редактировать', edit_item_path(i), class: 'btn btn-link' %></td>
        <td><%= link_to 'Удалить', i, method: :delete, data: {confirm: 'Вы уверены?'}, class: 'btn btn-link' %></td>
      </tr>
      </tbody>
      <br>
  <% end %>
</table>

<p>
  <%= link_to 'Добавить', new_item_path, class: 'btn btn-link' %>
</p>