<%= form_for item do |f| %>

    <form>

      <div class="panel-group col-md-8">
        <div class="panel panel-default">

          <div class="panel-heading">
            <h4>Новый элемент</h4>
          </div>

          <div class="panel-body">
            <div class="col-md-2">
              Имя
            </div>
            <div class="col-md-10">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="col-md-2">
              Описание
            </div>
            <div class="col-md-10">
              <%= f.text_field :description, class: 'form-control' %>
            </div>
            <div class="col-md-2">
              Вес
            </div>
            <div class="col-md-10">
              <%= f.text_field :weight, class: 'form-control' %>
            </div>
          </div>

          <div class="panel-footer">
            <%= f.submit "#{item.new_record? ? 'Создать' : 'Редактировать'}", class: 'btn btn-defoult' %>
          </div>
        </div>

      </div><!-- panel-group -->

    </form>

<% end %>